## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
# Your code here
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[73, 44, 36, 48, 35, 58, 74, 32, 79, 14, 63, 22, 12, 37, 90, 92, 41, 26, 33, 40, 80, 94, 53, 3, 46, 81, 34, 1, 78, 84, 52, 51, 28, 56, 76, 27, 6, 70, 18, 15, 54, 97, 8, 7, 29, 24, 4, 62, 13, 25, 10, 83, 67, 43, 21, 19, 45, 87, 50, 65, 30, 96, 69, 93, 16, 9, 75, 59, 82, 99, 47, 88, 95, 71, 86, 39, 72, 57, 23, 55]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [18]:
# Your code here
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [20]:
# Your code here
sample_list_2=[]
for i in range (80):
    sample_list_2.append(random.randint(1,100))
print (sample_list_2)

[9, 45, 6, 98, 96, 65, 75, 54, 33, 65, 96, 18, 57, 86, 96, 86, 63, 65, 75, 36, 4, 81, 43, 31, 38, 21, 10, 3, 63, 31, 49, 41, 15, 18, 58, 62, 56, 76, 13, 84, 46, 75, 17, 2, 12, 31, 30, 41, 56, 61, 85, 96, 58, 13, 43, 8, 8, 30, 81, 53, 67, 80, 83, 48, 66, 76, 50, 18, 5, 93, 50, 88, 34, 98, 89, 71, 97, 83, 50, 9]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [22]:
# Your code here
set2= set(sample_list_2)
print(len(set2))

53

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [30]:
# Your code here
result_1_2= set1-set2
set3 = set(result_1_2)
print(set3)

{1, 7, 14, 16, 19, 22, 23, 24, 25, 26, 27, 28, 29, 32, 35, 37, 39, 40, 44, 47, 51, 52, 55, 59, 69, 70, 72, 73, 74, 78, 79, 82, 87, 90, 92, 94, 95, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [32]:
# Your code here
result_2_1= set2-set1
set4 = set(result_2_1)
print(set4)

{2, 66, 98, 5, 38, 17, 49, 85, 89, 61, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [36]:
# Your code here
#To select common elements use intersection
common_1_2 = set1.intersection(set2)
set5= set(common_1_2)
print(set5)

{3, 4, 6, 8, 9, 10, 12, 13, 15, 18, 21, 30, 33, 34, 36, 41, 43, 45, 46, 48, 50, 53, 54, 56, 57, 58, 62, 63, 65, 67, 71, 75, 76, 80, 81, 83, 84, 86, 88, 93, 96, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [37]:
# Your code here
set6= set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [40]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

{1, 3, 4, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 63, 65, 67, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [43]:
# Your code here
if set1 == set6:
    print("TRUE")
else:
    print("FALSE")

TRUE

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [50]:
# Your code here
set1_2= set1.issubset(set2)
print(set1_2)

set1_3= set1.issubset(set3)
print(set1_3)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [56]:
# Your code here
set_3_4_5 = set3.union(set4, set5)
set0=set(set_3_4_5)
Final_set= set0.union(set1, set2)
print(Final_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 67, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [59]:
# Your code here
print (set1.pop())

1

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [68]:
# Your code here
#to see wich elements are present in both, we do the intersection
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
common_v= set1.intersection(list_to_remove)
print(common_v)

final_list= set1.discard(common_v)
print(final_list)

{99, 69, 39, 71, 9, 41, 79, 81, 19, 51, 21, 59, 29}
None