# Advanced Querying Mongo

Importing libraries and setting up connection

In [4]:
import pandas as pd
from pymongo import MongoClient

In [3]:
client = MongoClient()

In [5]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [10]:
db = client.get_database("companies")

In [11]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [28]:
#This displays the whole result
cpny_name_b = list(db.companies.find({'name':"Babelgum"},{'name':1}))
cpny_name_b
#In order to see the number of companies with that name
len(cpny_name_b)

1

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [36]:
cpny_num = db.companies.find({'number_of_employees':{'$gt':5000}}).sort([("number_of_employees",1)])
top_20 = cpny_num.limit(20)
#This prints the list with the top 20 companies that follow the condition above
#print(list(top_20))
#In order not to print a huge output, we only display the length of the list
print(len(list(top_20)))

20

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [37]:
cpny_found00_05 = db.companies.find({'founded_year':{'$gte':2000, '$lte':2005}},{'name':1,'founded_year':1})
#This prints the list with all the companies that follow the condition above
#print(list(cpny_found00_05))
#In order not to print a huge output, we only display the length of the list
print(len(list(cpny_found00_05)))

3734

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [53]:
cpny_val = db.companies.find({'ipo.valuation_amount':{'$gt':100000000},'founded_year':{'$lt':2010}},
                                {'name':1,'ipo':1})
#This prints the list with all the companies that follow the condition above
#list(cpny_val)
#In order not to print a huge output, we only display the length of the list       
len(list(cpny_val))

42

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [60]:
cpny_empl = db.companies.find({'number_of_employees':{'$lt':1000},'founded_year':{'$lt':2005}})
len(list(cpny_empl))

2424

### 6. All the companies that don't include the `partners` field.

In [66]:
cmpny_noptn = db.companies.find({'partners':{'$ne':None}})
len(list(cmpny_noptn))

18801

### 7. All the companies that have a null type of value on the `category_code` field.

In [56]:
cpny_null = db.companies.find({'category_code': None})
len(list(cpny_null))

2751

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [59]:
cpny_100 = list(db.companies.find({'number_of_employees':{'$gte':100, '$lt':1000}},{'name':1,'number_of_employees':1}))
len(cpny_100)

917

### 9. Order all the companies by their IPO price in a descending order.

In [78]:
cpny_ipo = db.companies.find({'ipo.valuation_amount':{'$ne':None}}).sort([("number_of_employees",-1)])
top_50 = cpny_ipo.limit(50)                                
print(len(list(top_50)))

50

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [81]:
cpny_10 = list(db.companies.find({}).sort([('number_of_employees',-1)]).limit(10))               
print(len(cpny_10))

10

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [82]:
cpny_sec = list(db.companies.find({"founded_month":{"$gte":6}}).limit(1000))               
print(len(cpny_sec))

1000

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [84]:
cpny_f = list(db.companies.find({"founded_year":{"$lt":2000}, 'acquisition.price_amount':{'$gt':1000000}}))              
print(len(cpny_f))

224

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [88]:
cpny_mc = list(db.companies.find({"acquisition.acquired_year":{"$gt":2010}},{'name':1,'acquisition':1}).
               sort([('acquisition.price_amount',1)]))
print(len(cpny_mc))

736

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [108]:
cpny_fy = list(db.companies.find({"founded_year":{'$ne': None}},{'name':1,'founded_year':1}))          
print(len(cpny_fy))

13136

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [111]:
cpny_fd = list(db.companies.find({"founded_day":{"$lte":7}}).
               sort([('acquisition.price_amount',-1)]).limit(10))
print(len(cpny_fd))

10

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [105]:
cpny_web = list(db.companies.find({"category_code": "web", "number_of_employees":{"$gt":4000}}).sort([("number_of_employees",1)]))
print(len(cpny_web))

9

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [106]:
cpny_acq = list(db.companies.find({"acquisitions.price_amount":{"$gt":10000000}, "acquisitions.price_currency_code":"EUR"}))
print(len(cpny_acq))

17

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [107]:
cpny_trim = list(db.companies.find({"acquisitions.acquired_month":{"$lte":3}},{"name":1, "acquisition":1}).limit(10))
print(len(cpny_trim))

10

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code